* { /*todos los elementos con margin y paddin de zero*/
  margin:0px;
  padding:0;
}

body {
  background:#F0B27A; /*fondo de la pag en tono naranja*/
}

header, .main, footer { /*dimenciones para encabezado, contenedor y pie de pág*/
  width: 90%; 
  max-width:1000px;
  margin:20px auto;
}

header nav {
  background: #A9DFBF;
  overflow:hidden; /*para quitar exedentes*/

}

header nav ul {
  list-style: none; /*para quitar viñetas*/
}

header nav ul li {
  float:left; /*para acomodar a la izquierda*/
}

header nav ul li a {
  padding:10px 20px;
  display: block; /*para acomodar como bloque*/
  color: #fff;
  font-size: 2em;
  text-decoration:none; /*sin decoraciones de texto*/
}

header nav ul li a:hover {
  background:  #F9E79F; /*para cambiar color de fondo cuando el puntero esté sobre el menú de navegación*/
}

.main .articles {
  width: 100%; /*ancho respeto al area delimitada*/
  float: left; /*recorrer a la izquierda*/
}

.main .articles article { /*propiedades extra de -article-*/
  padding:15px;
  background: #F0B27A;
  margin-bottom:15px; /*margen inferior*/
}


footer { /*propiedades extra del pie de pag*/
  background:#000;
  color: #fff;
  clear: both; /*para mover asta abajo sin elementos a los lados*/
  padding: 10px 0px; 
  text-align:center;
}



